@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.05rem;
  line-height: 1.55em;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  font-size: 0.78405rem;
  line-height: 1.1;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.85rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.25rem !important;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 0.625rem;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 0.95rem;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 2.813rem;
  padding: 0 1.5rem;

  h1 {
    font-family: 'Ruda', 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.3rem 0;
  font-size: 0.8rem;
  color: #636363;
  // width: 100%;
  clear: both;

  ul {
    margin: 0 0.25rem;
    padding: 0;

    li {
      display: inline;

      &::after {
        content: '|';
        margin: 0 0.313rem;
      }

      &:last-child::after {
        content: '';
        margin: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: #636363;
    font-weight: bold;
  }
}

#content-root {
  position: relative;
}

.d-block {
  display: block;
}

.d-inlineblock {
  display: inline-block;
}

.flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.flex-a-c {
  align-items: center;
}

.flex-a-e {
  align-items: flex-end;
}

.flex-j-c {
  justify-content: center;
}

.flex-j-e {
  justify-content: flex-end;
}

.flex-g-1 {
  flex: 1;
}

.flex-g-2 {
  flex: 2;
}

.flex-g-3 {
  flex: 3;
}

.flex-g-4 {
  flex: 4;
}

.flex-g-5 {
  flex: 5;
}

.pd-root {
  padding: 0 1.125rem;
}

.mg-0 {
  margin: 0;
}

.mg-t-50 {
  margin-top: 50px;
}

.mg-auto {
  margin: 0 auto;
}

.txt-a-c {
  text-align: center;
}

.txt-a-r {
  text-align: right;
}

.fs-1 {
  font-size: 1rem;
}

.fs-t {
  font-size: 1.5rem;
}

.fs-st {
  font-size: 1.3rem;
}

.fw-n {
  font-weight: normal;
}

.fw-b {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.side-pos-l {
  top: 0;
}
.card-container {
  margin: 20px 0;
  padding: 0 10px;
}

.card-element {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px;

  &:last-child {
    border-bottom: none;
  }
}

.content-wrapper-l {
  max-width: 960px;
}

.tag {
  margin-right: 13px;
  font-size: 0.8rem;
  color: #777777;
  font-weight: bold;
  border-radius: 5px;
  transition: color 0.2s ease;
  text-decoration: none;

  &:hover {
    color: #27251f;
  }
}
