.post-element {
  cursor: pointer;
  transition: background-color 0.25s ease;

  a {
    text-decoration: none;
    color: #000000;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }

  p {
    font-size: 0.8rem;
    color: #777777;
    margin-bottom: 10px;
  }

  .post-description {
    font-size: 0.75rem;
    margin-top: 15px;
  }

  &:hover {
    background-color: #ebebeb;
  }
}

#post-root {
  #post-header {
    margin-top: 4.375rem;
    margin-bottom: 3.125rem;

    h1 {
      font-size: 1.8rem;
    }

    .posting-date,
    .post-author {
      font-size: 0.8rem;
    }
  }

  #post-content {
    max-width: 810px;
  }
}
