.post-element {
  cursor: pointer;
  transition: background-color 0.25s ease;

  a {
    text-decoration: none;
  }

  h2,
  .post-description {
    color: #27251f;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }

  p {
    font-size: 0.8rem;
    color: #777777;
    margin-bottom: 10px;
  }

  .post-description {
    font-size: 0.75rem;
  }

  &:hover {
    background-color: #ebebeb;
  }
}

#post-root {
  #post-header {
    margin-top: 1.375rem;
    margin-bottom: 3.125rem;

    h1 {
      font-size: 1.8rem;
    }

    .header-content {
      font-size: 0.8rem;
    }
  }

  #post-content {
    max-width: 810px;
    line-height: 1.8rem;
    word-break: keep-all;
    overflow-wrap: break-word;

    a {
      color: #27251f;
      font-weight: bold;
    }
  }

  #post-comment-container {
    width: 100%;
    padding: 1.125rem;
    margin-top: 2.25rem;
    border-top: 1px solid #ebebeb;
  }
}
